Binaries
DerivedDataCache
Intermediate
Saved
Build

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

**/Mannequins
**/Mannequin_UE4
**/LevelPrototyping
**/ThirdPerson
**/LearningKit_Games
**/MilitaryWeapSilver
**/AnimStarterPack

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.DotSettings*
*~*.docx*
~*.tmp